In [1]:
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
import numpy as np

## Creating VR and VHist Functions

In [ ]:
# https://www.wataugacounty.org/App_Pages/Dept/BOE/precincts.aspx#2

def vr_import_clean(df, cols):
    file = f'{df}'
    
    # Import file into python
    df = pd.read_csv(
    file,
    usecols = cols,
    delimiter = "\t",        
    encoding = "utf-16",  
   # dtype = {'precinct_desc': str}
    )
    # Filter data to just eligible voters
    df['status_cd'] = df['status_cd'].str.strip()

    df = df[(df['status_cd'] == 'A') | (df['status_cd'] == 'I') | (df['status_cd'] == 'S')]
    
    # Remove troublesome data rows
    df = df[df['registr_dt'] != '##/##/####']
    df['registr_dt'] = pd.to_datetime(df['registr_dt'], errors='coerce')
    df = df.set_index('registr_dt')
    
    # Sort data from oldest registrants to newest
    df = df.sort_index(ascending=True)
    
 #   df = df[df['county_desc'] == 'WATAUGA'].loc[f'{file[-12:-8]}-08-01':f'{file[-12:-8]}-10-31']
    
#     # Define the conditions and corresponding choices
#     conditions = [
#         (df['age'] < 26),
#         (df['age'] >= 26) & (df['age'] < 40),
#         (df['age'] >= 41) & (df['age'] < 65),
#         (df['age'] >= 66),
#     ]
#     ages = ['18 - 25', '26 - 40', '41 - 65', '66+']

    # Create the new 'Age' column 
#    df['Age_Range'] = np.select(conditions, ages, default='NA')
    
#     label_map = {'03': 'Blowing Rock', 
#              '04': 'Blue Ridge', 
#              '05': 'Boone 1',
#              '06': 'Boone 2',
#              '07': 'Brushy Fork',
#              '12': 'Boone 3',
#              '13': 'New River 1',
#              '14': 'New River 2',
#              '15': 'New River 3',
#              '19': 'Watauga',
#              '20': 'Beech Mountain'
#             }
    
#    df = df[df['county_desc'] == 'WATAUGA']
    
    # Use .map() to create a new 'Precincts' column
#    df['Precincts'] = df['precinct_abbrv'].map(label_map)

    return df
    
    
def vhist_import_clean(df, cols):
    file = f'{df}'
    
    # Import file into python
    df = pd.read_csv(
    file,
    delimiter = "\t",        
    usecols = cols,
    encoding = "latin-1",  
    )
    
#     label_map = {'03': 'Blowing Rock', 
#              '04': 'Blue Ridge', 
#              '05': 'Boone 1',
#              '06': 'Boone 2',
#              '07': 'Brushy Fork',
#              '12': 'Boone 3',
#              '13': 'New River 1',
#              '14': 'New River 2',
#              '15': 'New River 3',
#              '19': 'Watauga',
#              '20': 'Beech Mountain'
#             }
    
#    df = df[df['county_desc'] == 'WATAUGA']
    
    # Use .map() to create a new 'Precincts' column
#     df['Precincts'] = df['precinct_abbrv'].map(label_map)

    return df

In [2]:
# NC VR file upload

file = 'ncvoter_Statewide.txt'

nc_vr_df = pd.read_csv(
    file,
    delimiter = "\t",        
    usecols = ['registr_dt', 'status_cd', 'precinct_desc', 'county_id', 'voter_reg_num'],
    encoding="latin-1",  
)

nc_vr_df = nc_vr_df[(nc_vr_df['status_cd'] == 'A') | (nc_vr_df['status_cd'] == 'I') | (nc_vr_df['status_cd'] == 'T')]

nc_vr_df.head()

/var/folders/h9/j7mkgpm92nv0shny7rh1v93r0000gn/T/ipykernel_2197/175006587.py:5: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  nc_vr_df = pd.read_csv(

   county_id  voter_reg_num status_cd  registr_dt  precinct_desc
2          1        9205561         I  10/31/2020     MELVILLE 3
3          1        9048723         A  03/26/1996  SOUTH BOONE E
4          1        9019674         A  08/15/1989   BURLINGTON 4
5          1        9129589         A  03/07/2012   NORTH NEWLIN
7          1        9041748         A  10/10/1994  SOUTH BOONE E

In [3]:
nc_vr_df = nc_vr_df[nc_vr_df['registr_dt'] != '##/##/####']
nc_vr_df['registr_dt'] = pd.to_datetime(nc_vr_df['registr_dt'])
nc_vr_df = nc_vr_df.set_index('registr_dt')

nc_vr_df_asc = nc_vr_df.sort_index(ascending=True)

In [4]:
# NC voter history file upload

file = 'ncvhis_Statewide.txt'

nc_hist_df = pd.read_csv(
    file,
    delimiter = "\t",        
    usecols = ['voted_county_id', 'pct_description', 'county_id', 'voter_reg_num', 'election_lbl'],
    encoding="latin-1",  
)

nc_hist_df.head()

   county_id  voter_reg_num election_lbl pct_description  voted_county_id
0         41         305398   10/10/2017             G35               41
1         41         305398   05/08/2018             G35               41
2         41         305398   03/05/2024             G35               41
3         41         305398   11/07/2017             G35               41
4         41         305398   07/26/2022             G35               41

In [6]:
def vr_import_clean(df, cols):
    file = f'{df}'
    
    # Import file into python
    df = pd.read_csv(
    file,
    usecols = cols,
    delimiter = "\t",        
    encoding = "utf-16",  
   # dtype = {'precinct_desc': str}
    )
    # Filter data to just eligible voters
    df['status_cd'] = df['status_cd'].str.strip()

    df = df[(df['status_cd'] == 'A') | (df['status_cd'] == 'I') | (df['status_cd'] == 'S')]
    
    # Remove troublesome data rows
    df = df[df['registr_dt'] != '##/##/####']
    df['registr_dt'] = pd.to_datetime(df['registr_dt'], errors='coerce')
    df = df.set_index('registr_dt')
    
    # Sort data from oldest registrants to newest
    df = df.sort_index(ascending=True)

    return df

In [7]:
vr_11_20_df = 'VR_Snapshot_20201103.txt'
vr_11_22_df = 'VR_Snapshot_20221108.txt'
vr_11_24_df = 'VR_Snapshot_20241105.txt'

vr_cols = ['registr_dt', 'precinct_abbrv', 'status_cd']

vr_11_20_df = vr_import_clean(vr_11_20_df, vr_cols)
vr_11_22_df = vr_import_clean(vr_11_22_df, vr_cols)
vr_11_24_df = vr_import_clean(vr_11_24_df, vr_cols)

vr_11_24_df.head()

           status_cd precinct_abbrv
registr_dt
1940-05-08         I             MM
1940-05-09         I           PEAC
1940-05-17         I          WADES
1940-10-26         A            06W
1943-08-20         I            707

In [8]:
def vhist_import_clean(df, cols):
    file = f'{df}'
    
    # Import file into python
    df = pd.read_csv(
    file,
    delimiter = "\t",        
    usecols = cols,
    encoding = "latin-1",  
    )

    return df

In [16]:
vhist_11_20_df = 'history_stats_20201103.txt'
vhist_11_22_df = 'history_stats_20221108.txt'
vhist_11_24_df = 'history_stats_20241105.txt'

vhist_cols = ['election_date', 'total_voters']

vhist_11_20_df = vhist_import_clean(vhist_11_20_df, vhist_cols)
vhist_11_22_df = vhist_import_clean(vhist_11_22_df, vhist_cols)
vhist_11_24_df = vhist_import_clean(vhist_11_24_df, vhist_cols)

vhist_11_24_df.head()

           age  total_voters election_date
0  Age 18 - 25            41    11/05/2024
1  Age 18 - 25             9    11/05/2024
2  Age 18 - 25             3    11/05/2024
3  Age 18 - 25            42    11/05/2024
4  Age 18 - 25            11    11/05/2024

In [22]:
data = {
    'val_vr': [7359798, 7412050, 7763502],
    'val_vhist': [5545848, 3790202, 5723987],
    'NC_vr': [len(nc_vr_df_asc.loc[:'2020-11-05']), len(nc_vr_df_asc.loc[:'2022-11-08']), len(nc_vr_df_asc.loc[:'2024-11-03'])],
    'NC_vhist': [len(nc_hist_df[nc_hist_df['election_lbl'] == '11/03/2020']), len(nc_hist_df[nc_hist_df['election_lbl'] == '11/08/2022']), len(nc_hist_df[nc_hist_df['election_lbl'] == '11/05/2024'])],
    'snap_vr': [len(vr_11_20_df), len(vr_11_22_df), len(vr_11_24_df)],
    'snap_vhist': [vhist_11_20_df['total_voters'].sum(), vhist_11_22_df['total_voters'].sum(), vhist_11_24_df['total_voters'].sum()]
}

row_labels = ['2020 election', '2022 election', '2024 election']

data_val_df = pd.DataFrame(data, index = row_labels)
data_val_df

                val_vr  val_vhist    NC_vr  NC_vhist  snap_vr  snap_vhist
2020 election  7359798    5545848  5165267   5536901  7378587     5544018
2022 election  7412050    3790202  5947460   3788404  7422396     3786905
2024 election  7763502    5723987  7183578   5722527  7850678     5705861

In [29]:
# snap_vr
# usecols = ['registr_dt', 'precinct_abbrv', 'age', 'race_code', 'party_cd', 'sex_code', 'status_cd', 'voter_reg_num', 'county_desc']

vr_11_22_df.head()

           status_cd precinct_abbrv
registr_dt
1812-07-01         I         CH-A
1872-09-01         I         P1
1878-07-01         A         GCK
1900-01-01         A         G6C
1900-01-01         A         G10B

In [26]:
# nc_hist_df
# usecols = ['pct_description', 'county_id', 'voter_reg_num', 'election_lbl', 'county_desc'],

nc_hist_df.head()

   county_id  voter_reg_num election_lbl pct_description  voted_county_id
0         41         305398   10/10/2017             G35               41
1         41         305398   05/08/2018             G35               41
2         41         305398   03/05/2024             G35               41
3         41         305398   11/07/2017             G35               41
4         41         305398   07/26/2022             G35               41

In [ ]:
# VR columns and dataset

vr_11_25_df = 'VR_Snapshot_20251104.txt'
vr_11_23_df = 'VR_Snapshot_20231107.txt'
vr_11_21_df = 'VR_Snapshot_20211102.txt'

vr_cols = ['registr_dt', 'precinct_abbrv', 'age', 'race_code', 'party_cd', 'sex_code', 'status_cd', 'voter_reg_num', 'county_desc']

In [ ]:
vr_11_25_df = vr_import_clean(vr_11_25_df, vr_cols)
vr_11_23_df = vr_import_clean(vr_11_23_df, vr_cols)
vr_11_21_df = vr_import_clean(vr_11_21_df, vr_cols)

In [ ]:
total_dem = vr_11_25_df.count()

vr_11_21_df[vr_11_21_df['party_cd'] == 'DEM'].count() / total_dem

In [ ]:
vr_11_25_df.head()#groupby('Precincts')['age'].count()

In [ ]:
vr_11_25_df['Age_Range'].unique()

In [ ]:
# vhist columns and dataset

vhist_11_25_df = 'history_stats_20251104.txt'
vhist_11_23_df = 'history_stats_20231107.txt'
vhist_11_21_df = 'history_stats_20211102.txt'

hist_cols = ['county_desc', 'precinct_abbrv', 'vtd_abbrv', 'age', 'party_cd', 'race_code', 'sex_code', 'total_voters', 'voted_party_cd']

vhist_11_25 = vhist_import_clean(vhist_11_25_df, hist_cols)
vhist_11_23 = vhist_import_clean(vhist_11_23_df, hist_cols)
vhist_11_21 = vhist_import_clean(vhist_11_21_df, hist_cols)

In [ ]:
def turnout_percent(vr, vhist, col):
    
    df1 = vr.groupby(f'{col}')['voter_reg_num'].count()
    df2 = vhist.groupby(f'{col}')['total_voters'].sum()
    
    vr_df = pd.DataFrame(df1)
    vhist_df = pd.DataFrame(df2)
    
    concat_df = pd.concat([vr_df, vhist_df], axis = 1)
    
    concat_df['Turnout'] = round(concat_df.iloc[:, 1] / concat_df.iloc[:, 0], 2)
    
    return concat_df

In [ ]:
def dem_percent(vr, vhist):
#     df1 = vr.groupby(f'{col}')['voter_reg_num'].count()
#     df2 = vhist.groupby(f'{col}')['total_voters'].sum()
    
    dem_df1 = df1[df1['party_cd'] == 'DEM']
    dem_df2 = df2[df2['party_cd'] == 'DEM']
    
    vr_df = pd.DataFrame(dem_df1)
    vhist_df = pd.DataFrame(dem_df2)
    
    concat_df = pd.concat([vr_df, vhist_df], axis = 1)

In [ ]:
# dem_21 = dem_percent(vr_11_21_df, vhist_11_21)
# dem_21

In [ ]:
vr_21 = turnout_percent(vr_11_21_df, vhist_11_21, 'Precincts')
vr_23 = turnout_percent(vr_11_23_df, vhist_11_23, 'Precincts')
vr_25 = turnout_percent(vr_11_25_df, vhist_11_25, 'Precincts')

turnout = {'2021 Voter %': vr_21['Turnout'], 
              '2023 Voter %': vr_23['Turnout'], 
              '2025 Voter %': vr_25['Turnout']}

turnout_df = pd.DataFrame(turnout)
turnout_df

In [ ]:
plt.plot(turnout_df.T)

plt.legend(bbox_to_anchor=(1, 1.0),  labels = ['Beech Mountain', 'Blowing Rock', 'Blue Ridge', 'Boone 1', 'Boone 2',
       'Boone 3', 'Brushy Fork', 'New River 1', 'New River 2', 'New River 3',
       'Watauga'])

## Democrat Turnout / precinct

In [ ]:
# Voter registrations that are DEM

dem_vr_21 = vr_11_21_df[vr_11_21_df['party_cd'] == 'DEM']
dem_vr_23 = vr_11_23_df[vr_11_23_df['party_cd'] == 'DEM']
dem_vr_25 = vr_11_25_df[vr_11_25_df['party_cd'] == 'DEM']

In [ ]:
# Voter history that is DEM

dem_vhist_21 = vhist_11_21[vhist_11_21['party_cd'] == 'DEM']
dem_vhist_23 = vhist_11_23[vhist_11_23['party_cd'] == 'DEM']
dem_vhist_25 = vhist_11_25[vhist_11_25['party_cd'] == 'DEM']

In [ ]:
vr_21 = turnout_percent(dem_vr_21, dem_vhist_21, 'Precincts')
vr_23 = turnout_percent(dem_vr_23, dem_vhist_23, 'Precincts')
vr_25 = turnout_percent(dem_vr_25, dem_vhist_25, 'Precincts')

turnout = {'2021 Voter %': vr_21['Turnout'], 
              '2023 Voter %': vr_23['Turnout'], 
              '2025 Voter %': vr_25['Turnout']}

dem_turnout = pd.DataFrame(turnout)
dem_turnout

In [ ]:
plt.plot(dem_turnout.T)

plt.legend(bbox_to_anchor=(1, 1.0),  labels = ['Beech Mountain', 'Blowing Rock', 'Blue Ridge', 'Boone 1', 'Boone 2',
       'Boone 3', 'Brushy Fork', 'New River 1', 'New River 2', 'New River 3',
       'Watauga'])

## Young Voters / precinct

In [ ]:
# Voter registrations that are Young

yng_vr_21 = vr_11_21_df[vr_11_21_df['Age_Range'] == '18 - 25']
yng_vr_23 = vr_11_23_df[vr_11_23_df['Age_Range'] == '18 - 25']
yng_vr_25 = vr_11_25_df[vr_11_25_df['Age_Range'] == '18 - 25']

In [ ]:
# Voter history that is DEM

yng_vhist_21 = vhist_11_21[vhist_11_21['age'] == 'Age 18 - 25']
yng_vhist_23 = vhist_11_23[vhist_11_23['age'] == 'Age 18 - 25']
yng_vhist_25 = vhist_11_25[vhist_11_25['age'] == 'Age 18 - 25']

In [ ]:
vr_21 = turnout_percent(yng_vr_21, yng_vhist_21, 'Precincts')
vr_23 = turnout_percent(yng_vr_23, yng_vhist_23, 'Precincts')
vr_25 = turnout_percent(yng_vr_25, yng_vhist_25, 'Precincts')

turnout = {'2021 Voter %': vr_21['Turnout'], 
              '2023 Voter %': vr_23['Turnout'], 
              '2025 Voter %': vr_25['Turnout']}

yng_turnout = pd.DataFrame(turnout)
yng_turnout

In [ ]:
plt.plot(yng_turnout.T)

plt.legend(bbox_to_anchor=(1, 1.0),  labels = ['Beech Mountain', 'Blowing Rock', 'Blue Ridge', 'Boone 1', 'Boone 2',
       'Boone 3', 'Brushy Fork', 'New River 1', 'New River 2', 'New River 3',
       'Watauga'])

In [ ]:
# # Percent of total voter registrations that are Young

# vr_21 = turnout_percent(yng_vr_21, vr_11_21_df, 'Precincts')
# vr_23 = turnout_percent(yng_vr_23, vr_11_23_df, 'Precincts')
# vr_25 = turnout_percent(yng_vr_25, vr_11_25_df, 'Precincts')

## Registrations by Week

In [ ]:
vr_11_25_df

In [ ]:
weekly_counts_21 = vr_11_21_df['2021-08-01':'2021-10-31'].resample('W').size()
weekly_counts_23 = vr_11_23_df['2023-08-01':'2023-10-31'].resample('W').size() # resample('D').interpolate()[::7]
weekly_counts_25 = vr_11_25_df['2025-08-01':'2025-10-31'].resample('W').size() # resample('D').interpolate()[::7]

df_wk_21 = pd.DataFrame(weekly_counts_21)
df_wk_21 = df_wk_21.rename(columns = {0: 'Registration'})

df_wk_23 = pd.DataFrame(weekly_counts_23)
df_wk_23 = df_wk_23.rename(columns = {0: 'Registration'})

df_wk_25 = pd.DataFrame(weekly_counts_25)
df_wk_25 = df_wk_25.rename(columns = {0: 'Registration'})

# Convert the index to a string format showing only month and day
df_wk_21.index = df_wk_21.index.strftime('%m-%d')
df_wk_23.index = df_wk_23.index.strftime('%m-%d')
df_wk_25.index = df_wk_25.index.strftime('%m-%d')

# plt.plot(df_wk_21)
# plt.plot(df_wk_23)
# plt.plot(df_wk_25)
df_wk_25
# df_wk_21.plot()
# df_wk_23.plot()
# df_wk_25.plot()

In [ ]:
def pie_chart(df1, df2, df3, col):

    fig, axes = plt.subplots(2, 2, figsize = (8, 5))
    
    df1[f'{col}'].value_counts().plot.pie(ax = axes[0, 0], autopct='%1.1f%%', colors = ['cornflowerblue', 'LightBlue', 'Grey'])
    df2[f'{col}'].value_counts().plot.pie(ax = axes[0, 1], autopct='%1.1f%%', colors = ['cornflowerblue', 'LightBlue', 'Grey'])
    df3[f'{col}'].value_counts().plot.pie(ax = axes[1, 0], autopct='%1.1f%%', colors = ['cornflowerblue', 'LightBlue', 'Grey'])

    fig.delaxes(axes[1][1])

In [ ]:
pie_chart(vr_11_21_df, vr_11_23_df, vr_11_25_df, 'party_cd')

In [ ]:
pie_chart(vr_11_21_df, vr_11_23_df, vr_11_25_df, 'sex_code')

In [ ]:
pie_chart(vr_11_21_df, vr_11_23_df, vr_11_25_df, 'race_code')

In [ ]:
def vhist_count(df, col):
    file = f'{df}'
    
    # Import file into python
    df = pd.read_csv(
    file,
    delimiter = "\t",        
    encoding = "latin-1",  
    )
    
   # value_count = df[df[f'{col}'] == f'{value}']['total_voters'].sum()
    
    group_count = df.groupby(f'{col}')['total_voters'].sum()

    return group_count

In [ ]:
vr = vr_11_25_df.groupby('precinct_desc')['status_cd'].count()
vr_df = pd.DataFrame(vr)
vr_df.head()

In [ ]:
x = vhist_11_25.groupby('county_desc')['total_voters'].sum()
county_votes = pd.DataFrame(x)
#county_votes.sort_values('total_voters', ascending = False).head()
county_votes.head()

In [ ]:
merged = vr_df.merge(county_votes, how = 'outer', on = 'county_desc')
merged.head(40)

In [ ]:
wat_vhist.groupby('precinct_abbrv')['total_voters'].sum()

In [ ]:
wat_vhist.head()